# GENERAL
NODE_ENV=local
BASE_PATH=
CORS=http://localhost:3000

# PORT
HTTP_PORT=3000
CRON_PORT=3001

# MONGODB
MONGODB_URI=mongodb://localhost:27017/myapp

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_PREFIX=myapp:
